.form-details-container {
    background-color: #CDF0FF;
    height: 75vh;
    width: 95%;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 20px 0px;
    padding: 20px;
    transition: box-shadow 0.3s ease-in-out;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ensures equal spacing */
    gap: 45px; /* Space between grid items */
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.form-details-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
