.viewClientsBox-container {
    height: auto; /* Changed from fixed height to auto */
    width: 100%; /* Make width 100% to fill the grid cell */
    max-width: 220px; /* Set a max-width to ensure boxes don't grow too large */
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 18px;
    padding: 20px;
}

.viewClientsBox-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.clientImage {
    height: 100px;
    width: 100%;
    object-fit: contain;
    border-radius: 16px;
    margin-bottom: 20px;
    transition: transform 0.3s ease; 
}

.viewClientsBox-container img {
    border-radius: 20px;
}

.viewClientsBox-container:hover .clientImage {
    transform: scale(1.05); 
}

.viewClientsBox-container h3 {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #333;
    text-transform: capitalize;
    margin: 10px 0;
    text-align: center;
}

.detailsBtn {
    height: 40px;
    padding: 10px 24px; 
    border: none;
    border-radius: 40px; 
    color: white;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    background-color: #2D9BFF;
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
}

.detailsBtn:hover {
    background-color: #238bde; 
    transform: scale(1.05); 
}
