    .viewCampaignsBox {
        height: auto;
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin-top: 18px;
        padding: 20px;
        overflow: hidden; /* Ensures the image doesn't overflow */
    }
    
    .viewCampaignsBox:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    
    .campaignImage {
        height: 100px;
        width: 100%;
        object-fit: contain;
        border-radius: 16px;
        transition: transform 0.3s ease; 
    }
    
    .campaignDetails {
        padding: 10px;
        text-align: center;
    }
    
    .viewCampaignsBox h3 {
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: #333;
        margin: 10px 0;
    }
    
    .viewCampaignsBox p {
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
        color: #6f6f6f;
        margin: 5px 0;
    }
    