/* Adjust the overlay to avoid re-render issues */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    z-index: 1000; /* Ensure it's on top */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(0.9);
    animation: grow 0.3s forwards;
}

@keyframes grow {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.modal-create-btn:hover {
    background-color: #007bff;
    transition: none;
}


.inputField:focus {
    border-color: #007bff;
    outline: none;
}

/* Ensure the modal is not flickering due to focus states */
.modal-content input,
.modal-content button {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}
