.create-new-client-container {
  background-color: #CDF0FF;
  height: 75vh;
  width: 95%;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  padding: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.client-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-new-client-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.container-heading {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.inputFields {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.input-field {
  padding: 12px 20px;
  border: none;
  outline: none;
  border-radius: 12px;
  box-shadow: 2px 2px 2px rgba(203, 203, 203, 0.551);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  background-color: white;
}

.submit-button {
  font-size: 18px;
  padding: 10px 25px;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 12px;
  margin-top: 20px;
  background-color: #007BFF;
  color: #fff;
  box-shadow: 2px 2px 2px rgb(138, 138, 138);
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:disabled {
  background-color: #7A7A7A;
  cursor: not-allowed;
}

.submit-button:not(:disabled):hover {
  background-color: #0056b3;
}

.error-message, .success-message {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  animation: fadeIn 0.5s ease-in-out;
}

.error-message {
  background-color: #F8D7DA;
  color: #721C24;
  border: 1px solid #F5C6CB;
}

.success-message {
  background-color: #D4EDDA;
  color: #155724;
  border: 1px solid #C3E6CB;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.file-upload-input {
  display: none;
}

.file-upload-label {
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #ccc;
  background-color: rgb(179, 162, 162);
  color: #333;
  text-align: center;
  border-radius: 12px;
  box-shadow: 2px 2px 2px rgba(203, 203, 203, 0.551);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease-in-out;
}

.file-upload-label:hover {
  background-color: #e0e0e0;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


