.OverViewTileOneBox-container {
    background-color: linear-gradient(135deg, #00DA82 0%, #00C96B 100%);
    border-radius: 16px;
    width: 20vw;
    aspect-ratio: 1 / 1; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s, box-shadow 0.3s; 
    margin: 10px;
    padding: 10px 10px;
}

.OverViewTileOneBox-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.containerone-title {
    margin: 0;
    color: white;
    font-size: 26px; 
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: 1px;
    padding-bottom: 5px;
}

.container-number { 
    margin: 0;
    color: white;
    font-size: 36px; 
    text-align: center;
    font-family: "Poppins", sans-serif;   
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


@media (max-width: 768px) {
    .OverViewTileOneBox-container {
        width: 30vw;
    }

    .containerone-title {
        font-size: 20px; 
    }

    .container-number {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .OverViewTileOneBox-container {
        width: 40vw; /* Adjust width for even smaller screens */
    }

    .containerone-title {
        font-size: 18px; /* Updated for consistency */
    }

    .container-number {
        font-size: 20px; /* Updated for consistency */
    }
}
