.LandingPage-container {
  display: flex;
  height: 100vh; 
}

.sidebar {
  width: 275px; 
  position: fixed; 
  top: 0;
  left: 0;
  height: 100vh; 
  overflow: auto; 
}

.content {
  margin-left: 275px;
  padding: 20px;
  width: calc(100% - 275px);
  overflow: auto; 
}

/* Navbar styling */
.navbar {
  height: 90%;
  width: 275px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.navbar img {
  margin-left: 10px;
  width: 200px;
  height: auto;
  margin-bottom: 12px;
  align-items: center;
}

.navbar a {
  padding: 15px 8px 15px 16px;
  width: 80%;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: black;
  display: block;
  background-color: #f8f8f8;
  margin-bottom: 18px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 12px;
  transition: background-color 00.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar a:hover {
  background-color: #979797;
  color: white;
}

.navbar input {
  padding: 15px 8px 15px 16px;
  background-color: #2d9bff;
  width: 90%;
  border: none;
  margin-right: 5px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 00.3s ease-in-out;
}

.navbar input:hover {
  background-color: #003e77;
}
