.singleChoice-container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    align-items: start;
  }
  
  .singleChoice-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .singleChoice-options {
    display: flex;
    flex-direction: column;
  }
  
  .singleChoice-option {
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .singleChoice-option input {
    margin-right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #007bff;
    border-radius: 50%;
    position: relative;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .singleChoice-option input:checked {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .singleChoice-option input:checked::before {
    content: '';
    display: block;
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
  }
  
  .singleChoice-option input:hover {
    border-color: #0056b3;
  }
  