.OverViewTileTwoBox-container {
    background-color: linear-gradient(135deg, #31BDFC 0%, #00aeff 100%);
    border-radius: 16px;
    width: 20vw; /* Responsive width */
    aspect-ratio: 1 / 1; /* Maintains a 1:1 aspect ratio */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s, box-shadow 0.3s; 
    margin: 10px;
}

.OverViewTileTwoBox-container:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.container-title {
    margin: 0;
    font-size: 24px; 
    font-family: "Poppins", sans-serif;
    font-weight: bold; 
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 5px; 
    text-align: center;
}

.container-content {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center; /* Ensures text is centered */
}

.moredetailsBtn {
    padding: 10px 10px; 
    border: none;
    border-radius: 20px; 
    color: white;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #2D9BFF;
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s;
}

.moredetailsBtn:hover {
    background-color: #238bde; 
    transform: scale(1.05); 
}

@media (max-width: 768px) {
    .OverViewTileTwoBox-container {
        width: 30vw; /* Adjusted width for smaller screens */
    }

    .container-title {
        font-size: 20px;
    }

    .container-content {
        font-size: 14px;
    }

    .moredetailsBtn {
        font-size: 12px;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .OverViewTileTwoBox-container {
        width: 40vw; /* Adjusted width for even smaller screens */
    }

    .container-title {
        font-size: 18px;
    }

    .container-content {
        font-size: 12px;
    }

    .moredetailsBtn {
        font-size: 10px;
        padding: 8px 16px;
    }
}
