.appointment-container{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    background-color: transparent;
}
.appointment-container input{
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    outline: none;
    background-color: transparent;
}

.appointment-title{
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.datetimeInput{
    margin-top: 10px;
    border: 1px solid grey;
    padding:8px;
    border-radius: 8px;
}
